USE [db_ordenanzas]
GO
/****** Object:  Table [dbo].[Acreedor]    Script Date: 25/08/2025 5:14:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Acreedor](
	[IdAcreedor] [int] IDENTITY(1,1) NOT NULL,
	[NombreAcreedor] [varchar](200) NOT NULL,
	[RUC_Cedula] [varchar](13) NOT NULL,
	[TipoIdentificacion] [varchar](5) NOT NULL,
	[Usuario_Creador] [varchar](15) NOT NULL,
	[Fecha_Creacion] [date] NOT NULL,
	[Usuario_Actualizacion] [varchar](15) NULL,
	[Fecha_Actualizacion] [date] NOT NULL,
	[EsActivo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAcreedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[RUC_Cedula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cargaArchivo]    Script Date: 25/08/2025 5:14:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cargaArchivo](
	[idCargaArchivo] [int] IDENTITY(1,1) NOT NULL,
	[nombreTabla] [varchar](200) NOT NULL,
	[nombreArchivo] [varchar](200) NOT NULL,
	[url] [varchar](200) NOT NULL,
	[fechaCreacion] [date] NOT NULL,
	[fechaUltimaEdicion] [date] NOT NULL,
	[usuarioEdit] [varchar](200) NOT NULL,
	[fkIdProceso] [int] NOT NULL,
	[fkIdTipoArchivo] [int] NOT NULL,
	[encabezado] [bit] NULL,
	[isActive] [int] NULL,
 CONSTRAINT [PK_cargaArchivo] PRIMARY KEY CLUSTERED 
(
	[idCargaArchivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cheques]    Script Date: 25/08/2025 5:14:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cheques](
	[ORDEN_CHEQUE] [varchar](20) NOT NULL,
	[OFICIAL] [varchar](20) NOT NULL,
	[FECHA_EMISION] [date] NOT NULL,
	[OBSERVACION] [varchar](200) NULL,
	[VALOR] [numeric](18, 2) NOT NULL,
	[ESTADO] [int] NOT NULL,
	[FECHA_REGISTRO] [date] NOT NULL,
	[USUARIO_CHEQUE] [varchar](10) NOT NULL,
	[USUARIO_ACTUALIZACION] [varchar](10) NOT NULL,
	[FECHA_ACTUALIZACION] [date] NOT NULL,
	[BENEFICIARIO] [varchar](200) NULL,
 CONSTRAINT [PK_Cheques] PRIMARY KEY CLUSTERED 
(
	[ORDEN_CHEQUE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CuentaBancaria]    Script Date: 25/08/2025 5:14:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CuentaBancaria](
	[IdCuenta] [int] IDENTITY(1,1) NOT NULL,
	[NumeroCuenta] [varchar](30) NOT NULL,
	[TipoCuenta] [varchar](10) NULL,
	[IdAcreedor] [int] NOT NULL,
	[IdEntidadBancaria] [int] NOT NULL,
	[Usuario_Creador] [varchar](15) NOT NULL,
	[Fecha_Creacion] [date] NOT NULL,
	[Usuario_Actualizacion] [varchar](15) NULL,
	[Fecha_Actualizacion] [date] NOT NULL,
	[EsActivo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCuenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cuentaContable]    Script Date: 25/08/2025 5:14:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cuentaContable](
	[idCuentaContable] [int] IDENTITY(1,1) NOT NULL,
	[numeroCuenta] [varchar](200) NULL,
	[nombreCuenta] [varchar](200) NULL,
 CONSTRAINT [PK_cuentaContable] PRIMARY KEY CLUSTERED 
(
	[idCuentaContable] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Devoluciones]    Script Date: 25/08/2025 5:14:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Devoluciones](
	[ORDEN_DEVOLUCION] [varchar](20) NOT NULL,
	[TRAMITE_DEVOLUCION] [varchar](200) NULL,
	[OFICIO_DEVOLUCION] [varchar](200) NOT NULL,
	[VALOR] [numeric](18, 2) NOT NULL,
	[FECHA_DEVOLUCION] [date] NOT NULL,
	[CUENTA] [varchar](30) NOT NULL,
	[OBSERVACION] [varchar](200) NULL,
	[MONEDA] [varchar](5) NOT NULL,
	[ESTADO] [int] NOT NULL,
	[USUARIO_DEVOLUCION] [varchar](10) NOT NULL,
	[ORDEN_RETENCION] [varchar](20) NOT NULL,
	[USUARIO_ACTUALIZACION] [varchar](10) NOT NULL,
	[FECHA_ACTUALIZACION] [date] NOT NULL,
	[TIPO_CARGA_DEVOLUCION] [int] NOT NULL,
 CONSTRAINT [PK_Devoluciones] PRIMARY KEY CLUSTERED 
(
	[ORDEN_DEVOLUCION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Devoluciones_Transferencias]    Script Date: 25/08/2025 5:14:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Devoluciones_Transferencias](
	[ORDEN_DEVTRA] [varchar](20) NOT NULL,
	[ORDEN_TRANSFERENCIA] [varchar](20) NOT NULL,
	[ORDEN_RETENCION] [varchar](20) NOT NULL,
	[OFICIO_EMBARGO] [varchar](200) NULL,
	[TRAMITE_EMBARGO] [varchar](200) NULL,
	[VALOR] [numeric](18, 2) NOT NULL,
	[FECHA_EMBARGO] [date] NOT NULL,
	[USUARIO_EMBARGO] [varchar](10) NOT NULL,
	[ESTADO] [varchar](20) NOT NULL,
	[USUARIO_ACTUALIZACION] [varchar](10) NOT NULL,
	[FECHA_ACTUALIZACION] [date] NOT NULL,
	[TIPO_CARGA_TRANSFERENCIA] [int] NOT NULL,
	[SECRETARIO] [varchar](200) NULL,
	[ORDEN_PDF] [varchar](40) NULL,
	[DIRECCION] [varchar](200) NULL,
	[CIUDAD] [varchar](100) NULL,
 CONSTRAINT [PK_Devoluciones_Transferencias] PRIMARY KEY CLUSTERED 
(
	[ORDEN_DEVTRA] ASC,
	[ORDEN_TRANSFERENCIA] ASC,
	[ORDEN_RETENCION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Embargos]    Script Date: 25/08/2025 5:14:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Embargos](
	[ORDEN_EMBARGO] [varchar](20) NOT NULL,
	[ORDEN_CHEQUE] [varchar](20) NOT NULL,
	[ORDEN_RETENCION] [varchar](20) NOT NULL,
	[OFICIO_EMBARGO] [varchar](200) NULL,
	[TRAMITE_EMBARGO] [varchar](200) NULL,
	[VALOR] [numeric](18, 2) NOT NULL,
	[FECHA_EMBARGO] [date] NOT NULL,
	[USUARIO_EMBARGO] [varchar](10) NOT NULL,
	[ESTADO] [varchar](20) NOT NULL,
	[FECHA_ACTUALIZACION] [datetime] NOT NULL,
	[USUARIO_ACTUALIZACION] [varchar](10) NOT NULL,
	[TIPO_CARGA_EMBARGO] [int] NOT NULL,
	[SECRETARIO] [varchar](200) NULL,
	[ORDEN_PDF] [varchar](40) NULL,
	[DIRECCION] [varchar](200) NULL,
	[CIUDAD] [varchar](100) NULL,
 CONSTRAINT [PK_Embargos] PRIMARY KEY CLUSTERED 
(
	[ORDEN_EMBARGO] ASC,
	[ORDEN_CHEQUE] ASC,
	[ORDEN_RETENCION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EntidadBancaria]    Script Date: 25/08/2025 5:14:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EntidadBancaria](
	[IdEntidadBancaria] [int] IDENTITY(1,1) NOT NULL,
	[NombreEntidad] [varchar](150) NOT NULL,
	[Usuario_Creador] [varchar](15) NOT NULL,
	[Fecha_Creacion] [date] NOT NULL,
	[Usuario_Actualizacion] [varchar](15) NULL,
	[Fecha_Actualizacion] [date] NOT NULL,
	[EsActivo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEntidadBancaria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inconsistencias_Portafolio]    Script Date: 25/08/2025 5:14:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inconsistencias_Portafolio](
	[ORDEN_INCONSISTENCIA] [varchar](20) NOT NULL,
	[JUZGADO] [varchar](200) NOT NULL,
	[SECRETARIO] [varchar](200) NOT NULL,
	[TRAMITE_CIRCULAR] [varchar](200) NULL,
	[OFICIO_INCONSISTENCIA] [varchar](200) NULL,
	[JUICIO] [varchar](500) NOT NULL,
	[IDENTIFICACION] [varchar](14) NOT NULL,
	[NOMBRE_CLIENTE] [varchar](200) NOT NULL,
	[OBSERVACION] [varchar](200) NOT NULL,
	[FECHA_REGISTRO] [date] NOT NULL,
	[USUARIO_REGISTRO] [varchar](10) NOT NULL,
	[TIPO_INCONSISTENCIA] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Inconsistencias_Portafolio] PRIMARY KEY CLUSTERED 
(
	[ORDEN_INCONSISTENCIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Juzgado]    Script Date: 25/08/2025 5:14:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Juzgado](
	[ID_Juzgado] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NULL,
	[Alias] [nvarchar](50) NULL,
	[Direccion] [nvarchar](200) NULL,
	[Ciudad] [nvarchar](100) NULL,
	[Usuario_Creador] [varchar](15) NOT NULL,
	[Fecha_Creacion] [date] NOT NULL,
	[Usuario_Actualizacion] [varchar](15) NOT NULL,
	[Fecha_Actualizacion] [date] NOT NULL,
	[EsActivo] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Juzgado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Juzgado_Secretario]    Script Date: 25/08/2025 5:14:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Juzgado_Secretario](
	[ID_Juzgado] [int] NOT NULL,
	[ID_Secretario] [int] NOT NULL,
	[EsActivo] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Juzgado] ASC,
	[ID_Secretario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[proceso]    Script Date: 25/08/2025 5:14:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[proceso](
	[idProceso] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](200) NOT NULL,
	[descripcion] [varchar](200) NULL,
	[fkCuentaContable] [int] NOT NULL,
	[estado] [bit] NOT NULL,
	[fechaCreacion] [datetime] NULL,
	[fechaUltimaEdicion] [datetime] NULL,
	[usuarioEdit] [varchar](200) NOT NULL,
	[horaEjecucion] [time](7) NULL,
	[tablaAuxiliar] [varchar](200) NULL,
 CONSTRAINT [PK_proceso] PRIMARY KEY CLUSTERED 
(
	[idProceso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Retenciones]    Script Date: 25/08/2025 5:14:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Retenciones](
	[ORDEN_RETENCION] [varchar](20) NOT NULL,
	[NOMBRE] [varchar](200) NOT NULL,
	[IDENTIFICACION] [varchar](14) NOT NULL,
	[TIPO] [varchar](30) NOT NULL,
	[CUENTA] [varchar](30) NOT NULL,
	[FECHA_RETENCION] [date] NOT NULL,
	[JUICIO] [varchar](500) NOT NULL,
	[VALOR] [numeric](18, 2) NOT NULL,
	[SALDO] [numeric](18, 2) NOT NULL,
	[MONEDA] [varchar](5) NOT NULL,
	[JUZGADO] [varchar](200) NOT NULL,
	[OFICIO_RETENCION] [varchar](200) NULL,
	[TRAMITE_RETENCION] [varchar](200) NULL,
	[USUARIO_RETENCION] [varchar](10) NOT NULL,
	[ESTADO] [int] NOT NULL,
	[ORDEN_ANTERIOR] [varchar](20) NOT NULL,
	[FECHA_ACTUALIZACION] [datetime] NOT NULL,
	[USUARIO_ACTUALIZACION] [varchar](10) NOT NULL,
	[FECHA_DEVOLUCION] [date] NULL,
	[OBSERVACION] [varchar](200) NULL,
 CONSTRAINT [PK_Retenciones] PRIMARY KEY CLUSTERED 
(
	[ORDEN_RETENCION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SALDOS_DIARIOS]    Script Date: 25/08/2025 5:14:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SALDOS_DIARIOS](
	[FECHA] [date] NOT NULL,
	[SALDO_INICIAL] [decimal](10, 2) NOT NULL,
	[REGISTROS] [int] NOT NULL,
	[USUARIO] [varchar](10) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Secretario]    Script Date: 25/08/2025 5:14:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Secretario](
	[ID_Secretario] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NULL,
	[Correo] [nvarchar](100) NULL,
	[Usuario_Creador] [varchar](15) NOT NULL,
	[Fecha_Creacion] [date] NOT NULL,
	[Usuario_Actualizacion] [varchar](15) NOT NULL,
	[Fecha_Actualizacion] [date] NOT NULL,
	[EsActivo] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Secretario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SuministroOJChequesProcesados]    Script Date: 25/08/2025 5:14:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SuministroOJChequesProcesados](
	[idSuministroOJChequesProcesados] [int] IDENTITY(1,1) NOT NULL,
	[fechaSubidaArchivo] [date] NULL,
	[estado_proceso] [int] NULL,
	[FormaPago] [varchar](200) NULL,
	[Cuenta] [varchar](200) NULL,
	[IdCliente] [varchar](200) NULL,
	[ContraPartida] [varchar](200) NULL,
	[Nombre] [varchar](200) NULL,
	[ValorPro] [float] NULL,
	[ValorEnv] [float] NULL,
	[Moneda] [varchar](200) NULL,
	[FechaPro] [date] NULL,
	[Horario] [varchar](200) NULL,
	[Estado] [varchar](200) NULL,
	[Referencia] [varchar](200) NULL,
	[IDOrden] [varchar](200) NULL,
	[Oficina] [varchar](200) NULL,
	[Descripcion] [varchar](200) NULL,
	[NoReferencia] [varchar](200) NULL,
	[TipoPago] [varchar](200) NULL,
	[Medio] [varchar](200) NULL,
	[EstadoDocumento] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[idSuministroOJChequesProcesados] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SuministroOJDevoluciones]    Script Date: 25/08/2025 5:14:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SuministroOJDevoluciones](
	[idSuministroOJDevoluciones] [int] IDENTITY(1,1) NOT NULL,
	[fechaSubidaArchivo] [date] NULL,
	[ORDEN] [varchar](200) NULL,
	[NOMBRE] [varchar](200) NULL,
	[IDENTIFICACION] [varchar](200) NULL,
	[TIPO] [varchar](200) NULL,
	[CUENTA] [varchar](200) NULL,
	[FECHARETENCION] [date] NULL,
	[JUICIO] [varchar](200) NULL,
	[VALOR] [float] NULL,
	[JUZGADO] [varchar](200) NULL,
	[NoOFICIORETENCION] [varchar](200) NULL,
	[NoTRAMITE] [varchar](200) NULL,
	[USUARIORETENCION] [varchar](200) NULL,
	[NoTRAMITE2] [varchar](200) NULL,
	[NoOFICIO] [varchar](200) NULL,
	[FECHAPROCESO] [date] NULL,
	[USUARIOPROCESO] [varchar](200) NULL,
	[ESTADO] [int] NULL,
	[ORDEN_DEVOLUCION] [varchar](20) NULL,
	[NUEVO_SALDO] [numeric](18, 2) NULL,
	[SALDO_ACTUAL] [numeric](18, 2) NULL,
	[ORDEN_RETENCION] [varchar](20) NULL,
	[OBSERVACION] [varchar](2000) NULL,
 CONSTRAINT [PK_SuministroOJDevoluciones] PRIMARY KEY CLUSTERED 
(
	[idSuministroOJDevoluciones] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SuministroOJDevolucionesProcesadas]    Script Date: 25/08/2025 5:14:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SuministroOJDevolucionesProcesadas](
	[idSuministroOJDevolucionesProcesadas] [int] IDENTITY(1,1) NOT NULL,
	[fechaSubidaArchivo] [date] NULL,
	[Item] [varchar](200) NULL,
	[Pais] [varchar](200) NULL,
	[Banco] [varchar](200) NULL,
	[FormaPago] [varchar](200) NULL,
	[CuentaBeneficiario] [varchar](200) NULL,
	[Contrapartida] [varchar](200) NULL,
	[BeneficiarioDeudor] [varchar](200) NULL,
	[Valor] [float] NULL,
	[ValorPro] [float] NULL,
	[Saldo] [float] NULL,
	[Moneda] [varchar](200) NULL,
	[Estado] [varchar](200) NULL,
	[MensajeProcesado] [varchar](200) NULL,
	[Descripcion] [varchar](200) NULL,
	[FechaPro] [date] NULL,
	[ReferenciaAdicional] [varchar](200) NULL,
	[MonedaExt] [varchar](200) NULL,
	[ValExt] [float] NULL,
	[Cotizaciones] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[idSuministroOJDevolucionesProcesadas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SuministroOJEmbargos]    Script Date: 25/08/2025 5:14:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SuministroOJEmbargos](
	[idSuministroOJEmbargos] [int] IDENTITY(1,1) NOT NULL,
	[fechaSubidaArchivo] [date] NULL,
	[ORDEN] [varchar](200) NULL,
	[NOMBRE] [varchar](200) NULL,
	[IDENTIFICACION] [varchar](200) NULL,
	[TIPO] [varchar](200) NULL,
	[CUENTA] [varchar](200) NULL,
	[FECHARETENCION] [date] NULL,
	[JUICIO] [varchar](200) NULL,
	[VALOR] [float] NULL,
	[JUZGADO] [varchar](200) NULL,
	[NoOFICIORETENCION] [varchar](200) NULL,
	[NoTRAMITE] [varchar](200) NULL,
	[USUARIORETENCION] [varchar](200) NULL,
	[NoTRAMITE2] [varchar](200) NULL,
	[NoOFICIO] [varchar](200) NULL,
	[FECHAPROCESO] [date] NULL,
	[USUARIOPROCESO] [varchar](200) NULL,
	[OFICIAL] [varchar](200) NULL,
	[ESTADO] [int] NULL,
	[ORDEN_EMBARGO] [varchar](20) NULL,
	[NUEVO_SALDO] [numeric](18, 2) NULL,
	[SALDO_ACTUAL] [numeric](18, 2) NULL,
	[ORDEN_RETENCION] [varchar](20) NULL,
	[OBSERVACION] [varchar](2000) NULL,
PRIMARY KEY CLUSTERED 
(
	[idSuministroOJEmbargos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SuministroOJRetenciones]    Script Date: 25/08/2025 5:14:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SuministroOJRetenciones](
	[idSuministroOJRetenciones] [int] IDENTITY(1,1) NOT NULL,
	[fechaSubidaArchivo] [date] NULL,
	[ORDEN] [varchar](200) NULL,
	[NOMBRE] [varchar](200) NULL,
	[IDENTIFICACION] [varchar](200) NULL,
	[TIPO] [varchar](200) NULL,
	[CUENTA] [varchar](200) NULL,
	[FECHARETENCION] [date] NULL,
	[JUICIO] [varchar](200) NULL,
	[VALOR] [float] NULL,
	[JUZGADO] [varchar](200) NULL,
	[NoOFICIORETENCION] [varchar](200) NULL,
	[NoTRAMITE] [varchar](200) NULL,
	[USUARIORETENCION] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[idSuministroOJRetenciones] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SuministroOJTransferencias]    Script Date: 25/08/2025 5:14:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SuministroOJTransferencias](
	[idSuministroOJTransferencias] [int] IDENTITY(1,1) NOT NULL,
	[fechaSubidaArchivo] [date] NULL,
	[ORDEN] [varchar](200) NULL,
	[NOMBRE] [varchar](200) NULL,
	[IDENTIFICACION] [varchar](200) NULL,
	[TIPO] [varchar](200) NULL,
	[CUENTA] [varchar](200) NULL,
	[FECHARETENCION] [date] NULL,
	[JUICIO] [varchar](200) NULL,
	[VALOR] [float] NULL,
	[JUZGADO] [varchar](200) NULL,
	[NoOFICIORETENCION] [varchar](200) NULL,
	[NoTRAMITE] [varchar](200) NULL,
	[USUARIORETENCION] [varchar](200) NULL,
	[NoTRAMITE2] [varchar](200) NULL,
	[NoOFICIO] [varchar](200) NULL,
	[FECHAPROCESO] [date] NULL,
	[USUARIOPROCESO] [varchar](200) NULL,
	[CUENTADESTINO] [varchar](200) NULL,
	[BANCODESTINOTRANSFERENCIA] [varchar](200) NULL,
	[ORDEN_TRANSFERENCIA] [varchar](20) NULL,
	[NUEVO_SALDO] [numeric](18, 2) NULL,
	[SALDO_ACTUAL] [numeric](18, 2) NULL,
	[ORDEN_EMBARGO] [varchar](20) NULL,
	[ESTADO] [int] NULL,
	[ORDEN_RETENCION] [varchar](200) NULL,
	[OBSERVACION] [varchar](2000) NULL,
	[OFICIAL] [varchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idSuministroOJTransferencias] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipoArchivo]    Script Date: 25/08/2025 5:14:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipoArchivo](
	[idTipoArchivo] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](200) NOT NULL,
 CONSTRAINT [PK_tipoArchivo] PRIMARY KEY CLUSTERED 
(
	[idTipoArchivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transferencias]    Script Date: 25/08/2025 5:14:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transferencias](
	[ORDEN_TRANSFERENCIA] [varchar](20) NOT NULL,
	[CUENTA_DESTINO] [varchar](20) NOT NULL,
	[BANCO_DESTINO] [varchar](50) NOT NULL,
	[OBSERVACION] [varchar](200) NULL,
	[VALOR] [numeric](18, 2) NOT NULL,
	[ESTADO] [int] NOT NULL,
	[FECHA_REGISTRO] [date] NOT NULL,
	[USUARIO_TRANSFERENCIA] [varchar](10) NOT NULL,
	[USUARIO_ACTUALIZACION] [varchar](10) NOT NULL,
	[FECHA_ACTUALIZACION] [date] NOT NULL,
	[BENEFICIARIO] [varchar](100) NOT NULL,
	[IDENTIFICACION] [varchar](14) NOT NULL,
	[TIPO_IDENTIFICACION] [varchar](20) NOT NULL,
	[CODIGO_BANCO] [int] NOT NULL,
	[TIPO_CUENTA] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Transferencias] PRIMARY KEY CLUSTERED 
(
	[ORDEN_TRANSFERENCIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Acreedor] ADD  DEFAULT ((1)) FOR [EsActivo]
GO
ALTER TABLE [dbo].[CuentaBancaria] ADD  DEFAULT ((1)) FOR [EsActivo]
GO
ALTER TABLE [dbo].[EntidadBancaria] ADD  DEFAULT ((1)) FOR [EsActivo]
GO
ALTER TABLE [dbo].[cargaArchivo]  WITH CHECK ADD  CONSTRAINT [FK_cargaArchivo_proceso] FOREIGN KEY([fkIdProceso])
REFERENCES [dbo].[proceso] ([idProceso])
GO
ALTER TABLE [dbo].[cargaArchivo] CHECK CONSTRAINT [FK_cargaArchivo_proceso]
GO
ALTER TABLE [dbo].[cargaArchivo]  WITH CHECK ADD  CONSTRAINT [FK_cargaArchivo_tipoArchivo] FOREIGN KEY([fkIdTipoArchivo])
REFERENCES [dbo].[tipoArchivo] ([idTipoArchivo])
GO
ALTER TABLE [dbo].[cargaArchivo] CHECK CONSTRAINT [FK_cargaArchivo_tipoArchivo]
GO
ALTER TABLE [dbo].[CuentaBancaria]  WITH CHECK ADD FOREIGN KEY([IdAcreedor])
REFERENCES [dbo].[Acreedor] ([IdAcreedor])
GO
ALTER TABLE [dbo].[CuentaBancaria]  WITH CHECK ADD FOREIGN KEY([IdEntidadBancaria])
REFERENCES [dbo].[EntidadBancaria] ([IdEntidadBancaria])
GO
ALTER TABLE [dbo].[Devoluciones]  WITH CHECK ADD  CONSTRAINT [FK_Devoluciones_Retenciones] FOREIGN KEY([ORDEN_RETENCION])
REFERENCES [dbo].[Retenciones] ([ORDEN_RETENCION])
GO
ALTER TABLE [dbo].[Devoluciones] CHECK CONSTRAINT [FK_Devoluciones_Retenciones]
GO
ALTER TABLE [dbo].[Devoluciones_Transferencias]  WITH CHECK ADD  CONSTRAINT [FK_Devoluciones_Transferencias_Retenciones] FOREIGN KEY([ORDEN_RETENCION])
REFERENCES [dbo].[Retenciones] ([ORDEN_RETENCION])
GO
ALTER TABLE [dbo].[Devoluciones_Transferencias] CHECK CONSTRAINT [FK_Devoluciones_Transferencias_Retenciones]
GO
ALTER TABLE [dbo].[Devoluciones_Transferencias]  WITH CHECK ADD  CONSTRAINT [FK_Devoluciones_Transferencias_Transferencias] FOREIGN KEY([ORDEN_TRANSFERENCIA])
REFERENCES [dbo].[Transferencias] ([ORDEN_TRANSFERENCIA])
GO
ALTER TABLE [dbo].[Devoluciones_Transferencias] CHECK CONSTRAINT [FK_Devoluciones_Transferencias_Transferencias]
GO
ALTER TABLE [dbo].[Embargos]  WITH CHECK ADD  CONSTRAINT [FK_Embargos_Cheques] FOREIGN KEY([ORDEN_CHEQUE])
REFERENCES [dbo].[Cheques] ([ORDEN_CHEQUE])
GO
ALTER TABLE [dbo].[Embargos] CHECK CONSTRAINT [FK_Embargos_Cheques]
GO
ALTER TABLE [dbo].[Embargos]  WITH CHECK ADD  CONSTRAINT [FK_Embargos_Retenciones] FOREIGN KEY([ORDEN_RETENCION])
REFERENCES [dbo].[Retenciones] ([ORDEN_RETENCION])
GO
ALTER TABLE [dbo].[Embargos] CHECK CONSTRAINT [FK_Embargos_Retenciones]
GO
ALTER TABLE [dbo].[Juzgado_Secretario]  WITH CHECK ADD FOREIGN KEY([ID_Juzgado])
REFERENCES [dbo].[Juzgado] ([ID_Juzgado])
GO
ALTER TABLE [dbo].[Juzgado_Secretario]  WITH CHECK ADD FOREIGN KEY([ID_Secretario])
REFERENCES [dbo].[Secretario] ([ID_Secretario])
GO
ALTER TABLE [dbo].[proceso]  WITH CHECK ADD  CONSTRAINT [FK_proceso_cuentaContable] FOREIGN KEY([fkCuentaContable])
REFERENCES [dbo].[cuentaContable] ([idCuentaContable])
GO
ALTER TABLE [dbo].[proceso] CHECK CONSTRAINT [FK_proceso_cuentaContable]
GO
/****** Object:  StoredProcedure [dbo].[ActualizarCuentaBancaria]    Script Date: 25/08/2025 5:14:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarCuentaBancaria]
    @IdCuenta INT,
    @NumeroCuenta VARCHAR(30),
    @TipoCuenta VARCHAR(10),
    @usuario VARCHAR(15),
    @codigoErr INT OUTPUT,
    @resultado NVARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- Validar si existe la cuenta activa
    IF NOT EXISTS (
        SELECT 1 FROM CuentaBancaria 
        WHERE IdCuenta = @IdCuenta AND EsActivo = 1
    )
    BEGIN
        SET @codigoErr = 1;
        SET @resultado = 'La cuenta no existe o está inactiva.';
        RETURN;
    END

    -- Valida que el número de cuenta no esté repetido en otra cuenta activa
    IF EXISTS (
        SELECT 1 FROM CuentaBancaria 
        WHERE NumeroCuenta = @NumeroCuenta 
        AND IdCuenta <> @IdCuenta 
        AND EsActivo = 1
    )
    BEGIN
        SET @codigoErr = 1;
        SET @resultado = 'El número de cuenta ya está registrado en otra cuenta activa.';
        RETURN;
    END

    -- Actualizar la cuenta
    UPDATE CuentaBancaria
    SET
        NumeroCuenta = @NumeroCuenta,
        TipoCuenta = @TipoCuenta,
        Usuario_Actualizacion = @Usuario,
        Fecha_Actualizacion = GETDATE()
    WHERE IdCuenta = @IdCuenta;

    SET @codigoErr = 0;
    SET @resultado = 'Cuenta actualizada correctamente.';
END
GO
/****** Object:  StoredProcedure [dbo].[ActualizarFuncionario]    Script Date: 25/08/2025 5:14:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarFuncionario]
    @idSecretario INT,
    @idJuzgado INT,
    @nuevoNombreSecretario VARCHAR(100),
    @nuevoCorreo VARCHAR(100),
    @usuario VARCHAR(20),
    @alias VARCHAR(50),
    @direccion VARCHAR(200),
    @resultado VARCHAR(500) OUTPUT,
    @codigoErr INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SET @codigoErr = 0;
    SET @resultado = 'Funcionario actualizado con éxito';

    -- Obtener el nombre del juzgado asociado
    DECLARE @nombreJuzgado VARCHAR(200);
    SELECT @nombreJuzgado = Nombre FROM Juzgado WHERE ID_Juzgado = @idJuzgado;

    -- Valida si la combinación juzgado + secretario ya existe en OTRO registro
    IF EXISTS (
        SELECT 1
        FROM juzgado j
        INNER JOIN juzgado_secretario js ON j.ID_Juzgado = js.ID_Juzgado
        INNER JOIN secretario s ON js.ID_Secretario = s.ID_Secretario
        WHERE j.Nombre = @nombreJuzgado
          AND s.Nombre = @nuevoNombreSecretario
          AND s.ID_Secretario <> @idSecretario
    )
    BEGIN
        SET @codigoErr = -1;
        SET @resultado = 'ERROR: Ya existe otro registro con ese juzgado y funcionario';
        RETURN;
    END
    --Actualizar Alias y direccion del juzgado
    UPDATE Juzgado
    SET Alias = @alias,
    Direccion = @direccion,
    Usuario_Actualizacion = @usuario,
     Fecha_Actualizacion = GETDATE()
    WHERE ID_Juzgado = @idJuzgado

    -- Actualizar datos en la tabla Secretario
    UPDATE Secretario
    SET 
        Nombre = @nuevoNombreSecretario,
        Correo = @nuevoCorreo,
        Usuario_Actualizacion = @usuario,
        Fecha_Actualizacion = GETDATE()
    WHERE ID_Secretario = @idSecretario;

    -- Mostrar los datos actualizados
    SELECT 
        j.Nombre AS nombre_juzgado,
        j.Alias,
        j.Direccion,
        j.Ciudad,
        s.Nombre AS nombre_secretario,
        s.Correo
    FROM juzgado j
    INNER JOIN juzgado_secretario js ON j.ID_Juzgado = js.ID_Juzgado
    INNER JOIN secretario s ON js.ID_Secretario = s.ID_Secretario
    WHERE s.ID_Secretario = @idSecretario
      AND j.ID_Juzgado = @idJuzgado;
END
GO
/****** Object:  StoredProcedure [dbo].[AgregarAcreedor]    Script Date: 25/08/2025 5:14:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AgregarAcreedor]
    @NombreAcreedor VARCHAR(200),
    @RUC_Cedula VARCHAR(13),
    @TipoIdentificacion VARCHAR(5),
    @usuario VARCHAR(10),
    @codigoErr INT OUTPUT,         -- 0 = OK, 1 = Duplicado
    @resultado NVARCHAR(100) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- Verificar si ya existe un acreedor con el RUC o Cedula
    IF EXISTS (SELECT 1 FROM Acreedor WHERE RUC_Cedula = @RUC_Cedula AND EsActivo = 1)
    BEGIN
        SET @codigoErr = 1
        SET @resultado = 'Ya existe un acreedor con ese RUC/Cédula.'
        RETURN
    END

    -- Insertar el nuevo acreedor
    INSERT INTO Acreedor (
        NombreAcreedor,
        RUC_Cedula,
        TipoIdentificacion,
        Usuario_Creador,
        Fecha_Creacion,
        Usuario_Actualizacion,
        Fecha_Actualizacion, 
        EsActivo
    )
    VALUES (
        @NombreAcreedor,
        @RUC_Cedula,
        @TipoIdentificacion,
        @usuario,
        CONVERT(DATE, GETDATE()),
        @usuario,
        CONVERT(DATE, GETDATE()),
        1
    )

    --SET @codigoErr = 0
    --SET @codigoErr = 'Acreedor agregado correctamente.'

    SET @codigoErr = 0
     SET @resultado = 'Agregado correctamente.'
END
GO
/****** Object:  StoredProcedure [dbo].[AgregarCuentaBancaria]    Script Date: 25/08/2025 5:14:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AgregarCuentaBancaria]
    @NumeroCuenta VARCHAR(30),
    @TipoCuenta VARCHAR(10),
    @IdAcreedor INT,
    @IdEntidadBancaria INT,
    @Usuario VARCHAR(15),
    @codigoErr INT OUTPUT,
    @resultado VARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- Validar que el acreedor exista y esté activo
    IF NOT EXISTS (
        SELECT 1 FROM Acreedor
        WHERE IdAcreedor = @IdAcreedor AND EsActivo = 1
    )
    BEGIN
        SET @codigoErr = 1;
        SET @resultado = 'El acreedor no existe o esta inactivo.';
        RETURN;
    END

    -- Validar que la entidad bancaria exista y esté activa
    IF NOT EXISTS (
        SELECT 1 FROM EntidadBancaria
        WHERE IdEntidadBancaria = @IdEntidadBancaria AND EsActivo = 1
    )
    BEGIN
        SET @codigoErr = 1;
        SET @resultado = 'La entidad bancaria no existe o esta inactiva.';
        RETURN;
    END

    -- Validar que no exista una cuenta duplicada para ese acreedor
    IF EXISTS (
        SELECT 1 FROM CuentaBancaria
        WHERE NumeroCuenta = @NumeroCuenta AND IdAcreedor = @IdAcreedor AND EsActivo = 1
    )
    BEGIN
        SET @codigoErr = 1;
        SET @resultado = 'Ya existe una cuenta con ese numero para este acreedor.';
        RETURN;
    END

    -- Insertar la cuenta bancaria
    INSERT INTO CuentaBancaria (
        NumeroCuenta,
        TipoCuenta,
        IdAcreedor,
        IdEntidadBancaria,
        Usuario_Creador,
        Fecha_Creacion,
        Usuario_Actualizacion,
        Fecha_Actualizacion,
        EsActivo
    )
    VALUES (
        @NumeroCuenta,
        @TipoCuenta,
        @IdAcreedor,
        @IdEntidadBancaria,
        @Usuario,
        GETDATE(),
        @Usuario,
        GETDATE(),
        1
    );

    SET @codigoErr = 0;
    SET @resultado = 'Cuenta bancaria registrada correctamente.';
END
GO
/****** Object:  StoredProcedure [dbo].[AgregarEntidadBancaria]    Script Date: 25/08/2025 5:14:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AgregarEntidadBancaria]
    @NombreEntidad VARCHAR(150),
    @usuario VARCHAR(15),
    @codigoErr INT OUTPUT,         -- 0 = OK, 1 = Duplicado
    @resultado NVARCHAR(100) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- Validar existencia de una entidad bancaria activa con el mismo nombre (ignorando mayúsculas o minúsculas)
    IF EXISTS (
        SELECT 1
        FROM EntidadBancaria
        WHERE UPPER(NombreEntidad) = UPPER(@NombreEntidad)
          AND EsActivo = 1
    )
    BEGIN
        SET @codigoErr = 1;
        SET @resultado = 'Ya existe una entidad bancaria con ese nombre.';
        RETURN;
    END

    -- Insertar nueva entidad bancaria
    INSERT INTO EntidadBancaria (
        NombreEntidad,
        Usuario_Creador,
        Fecha_Creacion,
        Usuario_Actualizacion,
        Fecha_Actualizacion,
        EsActivo
    )
    VALUES (
        @NombreEntidad,
        @usuario,
        CONVERT(DATE, GETDATE()),
        @usuario,
        CONVERT(DATE, GETDATE()),
        1
    );

    SET @codigoErr = 0;
    SET @resultado = 'Entidad bancaria agregada correctamente.';
END;
GO
/****** Object:  StoredProcedure [dbo].[AgregaRetenciones]    Script Date: 25/08/2025 5:14:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AgregaRetenciones] @usuario varchar(20), @moneda varchar(3), @resultado varchar(500) output, @codigoErr int output
AS
/*  
Agrega las retenciones del día en el portafolio
moneda: USD / EUR
*/
-- Declare and initialize a variable to hold @@ERROR.
DECLARE @ErrorSave INT
SET @ErrorSave = 0
declare @fecha as date
DECLARE @VFecha date = (SELECT max(FECHA_ACTUALIZACION) FROM Retenciones);
set @resultado = 'Retenciones registradas correctamente'

update SuministroOJRetenciones
set USUARIORETENCION = 'INTTELLER1'
where USUARIORETENCION = 'INTERNAL TELLER 1'

--Valida que fecha de carga y fecha de datos
--if (select count(*) from SuministroOJRetenciones where FECHARETENCION <> (SELECT DATEADD(DAY,1,@VFecha))) > 0
if (select count(*) from SuministroOJRetenciones where FECHARETENCION <> @VFecha) > 0
--if (select count(*) from SuministroOJRetenciones where FECHARETENCION <> convert(date, dateadd(DAY, -1, getdate()))) > 0
begin
	set @resultado = 'ERROR: Carga de retenciones. Los datos no corresponden a la fecha del proceso. Corrija la fecha de retención.'
	set @ErrorSave  = -1
end
else
begin
	--Valida que no haya carga anterior en el día
	--Valida que los valores tengan solo dos decimales
	if (select COUNT(*)
	from SuministroOJRetenciones (nolock)
	where
	Charindex('.', valor) > 0
	and LEN (CAST(CAST(Reverse(CONVERT(VARCHAR(70), valor, 128)) AS FLOAT) AS BIGINT)) > 2) > 0
	begin
		--print 'decimales'
		set @resultado = 'ERROR: Existen registros que tienen más de dos decimales en el campo valor'
		set @ErrorSave  = -1
	end
	else
	begin 
		print 'monedas'
		--Valida la moneda para identificar la tabla fuente
		if @moneda = 'USD'
		begin
			--Genera los secuenciales de para las retenciones a procesar en el día
			update SuministroOJRetenciones
			set ORDEN = CONVERT(varchar,GETDATE(),112) + 'RET' + replicate ('0',(8 - len(idsuministroojretenciones))) + convert(varchar, idsuministroojretenciones)

			SET @ErrorSave = @@ERROR

			IF (@ErrorSave <> 0)
			begin   
			   set @resultado = 'ERROR: No se pudo generar el código de retención. Mensaje de error: ' + convert(varchar(20), @ErrorSave)  
			end
			else
			begin 
				--Controla que los registros sean del mismo día
				print 'reg mismo dia'
				if (select count(distinct(fecharetencion)) from SuministroOJRetenciones (nolock)) = 1 
				begin

					--if (select count(*) from Retenciones a (nolock) where  a.FECHA_ACTUALIZACION =  convert(varchar, getdate(), 23)) > 1
					if (select count(*) from Retenciones (nolock)
					where FECHA_RETENCION = (select distinct(FECHARETENCION) from SuministroOJRetenciones (nolock))) > 1
					begin
						select @fecha = FECHARETENCION from SuministroOJRetenciones (nolock)
						set @ErrorSave  = -1
						--set @resultado = 'ERROR: Ya existen retenciones registradas para el día de hoy con fecha: ' + convert(varchar(20), @VFecha)  
						set @resultado = 'ERROR: Ya existen retenciones registradas para el día de hoy con fecha: ' + convert(varchar(20), @fecha)
					end
					else
					begin						
						INSERT INTO Retenciones (ORDEN_RETENCION, NOMBRE, IDENTIFICACION, TIPO, CUENTA, FECHA_RETENCION, JUICIO, VALOR, SALDO, JUZGADO, OFICIO_RETENCION, TRAMITE_RETENCION, USUARIO_RETENCION,
						FECHA_ACTUALIZACION, USUARIO_ACTUALIZACION, MONEDA, ESTADO, ORDEN_ANTERIOR)
						--SELECT ORDEN, NOMBRE, IDENTIFICACION, TIPO, CUENTA, FECHARETENCION, JUICIO, VALOR, VALOR, JUZGADO, NoOFICIORETENCION, NoTRAMITE, USUARIORETENCION, CONVERT(varchar,GETDATE(),112), @usuario, @moneda, 1, ORDEN
						SELECT ORDEN, NOMBRE, IDENTIFICACION, TIPO, CUENTA, FECHARETENCION, JUICIO, VALOR, VALOR, JUZGADO, NoOFICIORETENCION, NoTRAMITE, USUARIORETENCION, '2024-02-27', @usuario, @moneda, 1, ORDEN
						FROM SuministroOJRetenciones
						SET @ErrorSave = @@ERROR
						IF (@ErrorSave <> 0)
						begin	
							set @resultado = 'ERROR: No se guardaron las retenciones. Mensaje de error: ' + convert(varchar(20), @ErrorSave)  
						end
					end
				end
				else
				begin
					set @ErrorSave = -1
					set @resultado = 'ERROR: Fechas de retención distintas en el archivo de carga'
				end	
			end
		end
		else
		begin
			if @moneda = 'EUR'
			begin
				--Genera los secuenciales de para las retenciones a procesar en el día
				update SuministroOJRetenciones
				set ORDEN = CONVERT(varchar,GETDATE(),112) + 'RET' + replicate ('0',(6 - len(idsuministroojretenciones))) + convert(varchar, idsuministroojretenciones)

				SET @ErrorSave = @@ERROR

				IF (@ErrorSave <> 0)
				begin   
				   set @resultado = 'ERROR: No se pudo generar el código de retención. Mensaje de error: ' + convert(varchar(20), @ErrorSave)  
				end
				else
				begin 
					--Controla que los registros sean del mismo día
					if (select count(distinct(fecharetencion)) from SuministroOJRetenciones (nolock)) = 1 
					begin
						--print 'if fechas'
						--Valida si hay datos del mismo día y los borra
						if (select count(*) from Retenciones (nolock)
						where FECHA_RETENCION = (select distinct(FECHARETENCION) from SuministroOJRetenciones (nolock))) > 1
						begin
							--print 'if reproceso'
							select @fecha = FECHARETENCION from SuministroOJRetenciones (nolock)

							if (select count(*) from embargos where ORDEN_RETENCION in (select ORDEN_RETENCION from Retenciones where FECHA_RETENCION = @fecha)) > 0
							begin 
								set @resultado = 'ERROR: Ya existe informacion cargada con fecha: ' + convert(varchar(10), @fecha) + '. Busque las devoluciones/embargos asociados para validación.'
								SET @ErrorSave = -1
							end
							else
							begin
								delete from Retenciones where FECHA_RETENCION = @fecha
								SET @ErrorSave = @@ERROR
								IF (@ErrorSave <> 0)
									begin 
									set @resultado = 'ERROR: No se puede cargar información de la fecha ' + CONVERT(varchar(10), @fecha) + ' o tienen devoluciones/embargos asociados. Mensaje de error: ' + convert(varchar(20), @ErrorSave)  
								end
								else 
								begin
									--print 'if insert reproceso'
									INSERT INTO Retenciones (ORDEN_RETENCION, NOMBRE, IDENTIFICACION, TIPO, CUENTA, FECHA_RETENCION, JUICIO, VALOR, SALDO, JUZGADO, OFICIO_RETENCION, TRAMITE_RETENCION, USUARIO_RETENCION,
									FECHA_ACTUALIZACION, USUARIO_ACTUALIZACION, MONEDA, ESTADO, ORDEN_ANTERIOR)
									SELECT ORDEN, NOMBRE, IDENTIFICACION, TIPO, CUENTA, FECHARETENCION, JUICIO, VALOR, VALOR, JUZGADO, NoOFICIORETENCION, NoTRAMITE, USUARIORETENCION, CONVERT(varchar,GETDATE(),112), @usuario, @moneda, 1, ORDEN
									FROM SuministroOJRetenciones
									SET @ErrorSave = @@ERROR
									IF (@ErrorSave <> 0)
									begin					
										set @resultado = 'ERROR: No se guardaron las retenciones. Mensaje de error: ' + convert(varchar(20), @ErrorSave)  
									end
								end 
							end
						end
						else
						begin
							INSERT INTO Retenciones (ORDEN_RETENCION, NOMBRE, IDENTIFICACION, TIPO, CUENTA, FECHA_RETENCION, JUICIO, VALOR, SALDO, JUZGADO, OFICIO_RETENCION, TRAMITE_RETENCION, USUARIO_RETENCION,
							FECHA_ACTUALIZACION, USUARIO_ACTUALIZACION, MONEDA, ESTADO, ORDEN_ANTERIOR)
							SELECT ORDEN, NOMBRE, IDENTIFICACION, TIPO, CUENTA, FECHARETENCION, JUICIO, VALOR, VALOR, JUZGADO, NoOFICIORETENCION, NoTRAMITE, USUARIORETENCION, CONVERT(varchar,GETDATE(),112), @usuario, @moneda, 1, ORDEN
							FROM SuministroOJRetenciones
							SET @ErrorSave = @@ERROR
							IF (@ErrorSave <> 0)
							begin	
								set @resultado = 'ERROR: No se guardaron las retenciones. Mensaje de error: ' + convert(varchar(20), @ErrorSave)  
							end
						end
					end
					else
					begin
						set @ErrorSave = -1
						set @resultado = 'ERROR: Fechas de retención distintas en el archivo de carga'
					end	
				end
			end
		end
	end
end
set @codigoErr = @ErrorSave

select ORDEN, NOMBRE, IDENTIFICACION, TIPO, CUENTA, FECHARETENCION, JUICIO, VALOR, JUZGADO, NoOFICIORETENCION, NoTRAMITE, USUARIORETENCION
from SuministroOJRetenciones
GO
/****** Object:  StoredProcedure [dbo].[AgregarFuncionario]    Script Date: 25/08/2025 5:14:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AgregarFuncionario]@usuario varchar(20), @idJuzgado int, 
	@nombreSecretario varchar(100), @correo varchar(100), 
	@resultado varchar(500) output, @codigoErr int output
AS
/* Registra el nombre de los funcionarios */

SET @codigoErr = 0
set @resultado = 'Juez/Funcionario registrado con exito'

-- Validar si el juzgado y el secretario ya existen
DECLARE @existen INT;
DECLARE @nombreJuzgado VARCHAR(200);
SELECT @nombreJuzgado = Nombre FROM Juzgado WHERE ID_Juzgado = @idJuzgado;
--PRINT @nombreJuzgado;

SELECT 
    @existen = CASE 
        WHEN EXISTS (SELECT 1 FROM juzgado WHERE nombre LIKE @nombreJuzgado and EsActivo = 1)
         AND EXISTS (SELECT 1 FROM secretario WHERE nombre LIKE @nombreSecretario and EsActivo = 1)
        THEN 1
        ELSE 0
    END;

IF @existen = 1
BEGIN
    SET @codigoErr = -1;
    SET @resultado = 'ERROR: El juzgado y el juez o funcionario ya existen';
END
ELSE
BEGIN
    -- 2. Insertar en Secretario
    INSERT INTO Secretario (nombre, correo, usuario_creador,
    fecha_creacion, usuario_actualizacion, fecha_actualizacion, EsActivo)
    VALUES (@nombreSecretario, @correo, @usuario,
    CONVERT(DATE, GETDATE()), @usuario, CONVERT(DATE, GETDATE()), 1);
    -- Obtener el ID del Secretario insertado
    DECLARE @idSecretario INT = SCOPE_IDENTITY();
    -- 3. Insertar en tabla intermedia
    INSERT INTO juzgado_secretario (id_juzgado, id_secretario, EsActivo)
    VALUES (@idJuzgado, @idSecretario, 1);

    ---- 4. Mostrar los datos insertados
    --SELECT 
    --    j.nombre AS nombre_juzgado,
    --    j.alias,
    --    j.direccion,
    --    j.ciudad,
    --    s.nombre AS nombre_secretario,
    --    s.correo
    --FROM 
    --    juzgado j
    --INNER JOIN 
    --    juzgado_secretario js ON j.id_juzgado = js.id_juzgado
    --INNER JOIN 
    --    secretario s ON js.id_secretario = s.id_secretario
    --WHERE
    --    j.id_juzgado = @idJuzgado AND s.id_secretario = @idSecretario;

    set @codigoErr = 0
	set @resultado = 'Juez o Funcionario registrado con exito'
END

GO
/****** Object:  StoredProcedure [dbo].[AgregarJuzgados]    Script Date: 25/08/2025 5:14:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AgregarJuzgados]@usuario varchar(20), @nombre varchar(500), 
	@alias varchar(100), @direccion varchar(100), @nombreSecretario varchar(100), @correo varchar(100), 
	@ciudad varchar(100),@resultado varchar(500) output, @codigoErr int output
AS
/* Registra el nombre de los juzgados y el nombre del orden en el catalogo de cheques */

SET @codigoErr = 0
set @resultado = 'Juzgado registrado con exito'

-- Validar si el juzgado y el secretario ya existen
DECLARE @existen INT;

SELECT 
    @existen = CASE 
        WHEN EXISTS (SELECT 1 FROM juzgado WHERE nombre LIKE @nombre AND alias = @alias and EsActivo = 1)
         AND EXISTS (SELECT 1 FROM secretario WHERE nombre LIKE @nombreSecretario and EsActivo = 1)
        THEN 1
        ELSE 0
    END;

IF @existen = 1
BEGIN
    SET @codigoErr = -1;
    SET @resultado = 'ERROR: El juzgado y el secretario ya existen';
END
ELSE
BEGIN
    -- 1. Insertar en Juzgado
    INSERT INTO Juzgado (nombre, alias, direccion, ciudad, usuario_creador,
    fecha_creacion, usuario_actualizacion, fecha_actualizacion, EsActivo)
    VALUES (@nombre, @alias, @direccion, @ciudad, @usuario,
    CONVERT(DATE, GETDATE()), @usuario, CONVERT(DATE, GETDATE()), 1);
    -- Obtener el ID del Juzgado insertado
    DECLARE @idJuzgado INT = SCOPE_IDENTITY();

    -- 2. Insertar en Secretario
    INSERT INTO Secretario (nombre, correo, usuario_creador,
    fecha_creacion, usuario_actualizacion, fecha_actualizacion, EsActivo)
    VALUES (@nombreSecretario, @correo, @usuario,
    CONVERT(DATE, GETDATE()), @usuario, CONVERT(DATE, GETDATE()), 1);
    -- Obtener el ID del Secretario insertado
    DECLARE @idSecretario INT = SCOPE_IDENTITY();

    -- 3. Insertar en tabla intermedia
    INSERT INTO juzgado_secretario (id_juzgado, id_secretario, EsActivo)
    VALUES (@idJuzgado, @idSecretario, 1);

    ---- 4. Mostrar los datos insertados
    --SELECT 
    --    j.nombre AS nombre_juzgado,
    --    j.alias,
    --    j.direccion,
    --    j.ciudad,
    --    s.nombre AS nombre_secretario,
    --    s.correo
    --FROM 
    --    juzgado j
    --INNER JOIN 
    --    juzgado_secretario js ON j.id_juzgado = js.id_juzgado
    --INNER JOIN 
    --    secretario s ON js.id_secretario = s.id_secretario
    --WHERE
    --    j.id_juzgado = @idJuzgado AND s.id_secretario = @idSecretario;

    set @codigoErr = 0
	set @resultado = 'Juzgado registrado con exito'
END

GO
/****** Object:  StoredProcedure [dbo].[BuscaDevolucionesPendientes]    Script Date: 25/08/2025 5:14:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BuscaDevolucionesPendientes] @usuario varchar(20), @resultado varchar(500) output, @codigoErr int output
AS
/*  
Busca las devoluciones que tienen VALIDAR en orden*/

-- Declare and initialize a variable to hold @@ERROR.
DECLARE @ErrorSave INT
SET @ErrorSave = 0
declare @fecha as date

set @resultado = 'Devoluciones registradas correctamente'

--Valida que fecha de carga y fecha de datos
if (select count(*) from SuministroOJDevoluciones where FECHAPROCESO <> convert(date, getdate())) > 0
begin
	set @resultado = 'ERROR: Los datos no corresponden a la fecha del proceso. Corrija la fecha de proceso.'
	set @ErrorSave  = -3
end
else
begin

	if (select count(*) from SuministroOJDevoluciones where estado < 1) > 0
	begin
		print 'sp: BuscaDevolucionesPendientes'
		print 'if'
		--Genera los registros que no se actualizaron para revisión del usuario
		/*
		select a.idSuministroOJDevoluciones as 'ID', b.ORDEN_ANTERIOR ORDEN_RETENCION, a.NOMBRE, a.IDENTIFICACION, a.TIPO, b.CUENTA CUENTA_RETENCION, a.CUENTA CUENTA_DEVOLUCION, a.FECHARETENCION, a.JUICIO, b.saldo Saldo_Retencion, a.VALOR, a.JUZGADO, a.NoOFICIORETENCION, a.NoTRAMITE, a.USUARIORETENCION, a.NoTRAMITE2, a.NoOFICIO, 
		a.FECHAPROCESO, a.USUARIOPROCESO
		from SuministroOJDevoluciones a (nolock), Retenciones b (nolock)
		where a.estado <> 1
		and a.ORDEN = b.ORDEN_ANTERIOR
		and a.IDENTIFICACION = b.IDENTIFICACION
		--and a.CUENTA = b.CUENTA
		and a.FECHARETENCION = b.FECHA_RETENCION
		and a.JUICIO = b.JUICIO
		order by b.ORDEN_ANTERIOR, b.IDENTIFICACION, b.JUICIO, b.FECHA_RETENCION
		*/

		select a.idSuministroOJDevoluciones as 'ID', iif(b.ORDEN_ANTERIOR is null, a.orden + ';NO ENCONTRADO', b.ORDEN_ANTERIOR) ORDEN_RETENCION, 
		a.NOMBRE, a.IDENTIFICACION, a.TIPO, iif(b.CUENTA is null, 'NO ENCONTRADO', b.CUENTA) CUENTA_RETENCION, a.CUENTA CUENTA_DEVOLUCION, 
		a.FECHARETENCION, a.JUICIO, iif(b.saldo is null, 0, b.saldo) Saldo_Retencion, a.VALOR, a.JUZGADO, a.NoOFICIORETENCION, 
		a.NoTRAMITE, a.USUARIORETENCION, a.NoTRAMITE2, a.NoOFICIO, 
		a.FECHAPROCESO, a.USUARIOPROCESO
		from SuministroOJDevoluciones a (nolock) left join Retenciones b (nolock)
		on a.ORDEN = b.ORDEN_ANTERIOR
		and a.IDENTIFICACION = b.IDENTIFICACION
		and a.FECHARETENCION = b.FECHA_RETENCION
		and a.JUICIO = b.JUICIO
		where a.estado <> 1
		order by b.ORDEN_ANTERIOR, b.IDENTIFICACION, b.JUICIO, b.FECHA_RETENCION

		set @ErrorSave  = -1
		set @resultado = 'ERROR: Existen devoluciones pendientes de validación'

	end
	else
	begin
		print 'else' 
		--exec RegistraDevolucion @usuario, @resultado, @codigoErr 
		--Genera la lista de información de retenciones que se guardaron
		select a.idSuministroOJDevoluciones as 'ID', a.ORDEN_RETENCION ORDEN_RETENCION, a.NOMBRE, a.IDENTIFICACION, a.TIPO, A.CUENTA CUENTA_DEVOLUCION, a.FECHARETENCION, a.JUICIO, a.VALOR, a.JUZGADO, a.NoOFICIORETENCION, a.NoTRAMITE, a.USUARIORETENCION, a.NoTRAMITE2, a.NoOFICIO, 
		a.FECHAPROCESO, a.USUARIOPROCESO
		from SuministroOJDevoluciones a (nolock)
		order by ORDEN, FECHARETENCION
	end
end
set @codigoErr = @ErrorSave
GO
/****** Object:  StoredProcedure [dbo].[BuscaRetencionesDevolucion]    Script Date: 25/08/2025 5:14:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[BuscaRetencionesDevolucion] @usuario varchar(20), @resultado varchar(500) output, @codigoErr int output
AS
/*  
Pone el número de retención en el archivo de devolución y devuelve los registros que cruzaron y los que no cruzaron
Esta información se cruza con las devoluciones que se cargarán en el consolidado de devoluciones
*/
-- Declare and initialize a variable to hold @@ERROR.
print 'inicia sp'
DECLARE @ErrorSave INT
SET @ErrorSave = 0
declare @fecha as date

set @resultado = ''

--Limpia codigo de orden
update SuministroOJDevoluciones 
set estado = 0, -- 0 --> No encontrado, 1 --> coincidencia con orden_retencion, 2 --> coincidencia con orden_anterior
NUEVO_SALDO = 0,
SALDO_ACTUAL = 0,
ORDEN_RETENCION = '',
OBSERVACION = ''
print 'Actualizo banderas'
IF (@@ERROR <> 0)
   SET @ErrorSave = @@ERROR

if @ErrorSave = 0
begin 
	--Valida que fecha de carga y fecha de datos
	print 'Valida fecha'
	if (select count(*) from SuministroOJDevoluciones where FECHAPROCESO <> convert(date, getdate())) > 0
	begin
		print 'Error en fecha'
		set @resultado = 'ERROR: Carga de devoluciones. Los datos no corresponden a la fecha del proceso. Corrija la fecha de proceso.'
		select a.idSuministroOJDevoluciones as 'ID', ORDEN as 'ORDEN_RETENCION', a.NOMBRE, a.IDENTIFICACION, a.TIPO, a.CUENTA, a.FECHARETENCION, a.JUICIO, '' as 'Saldo_retencion', a.VALOR, a.JUZGADO, a.NoOFICIORETENCION, a.NoTRAMITE, a.USUARIORETENCION, a.NoTRAMITE2, a.NoOFICIO, 
		a.FECHAPROCESO, a.USUARIOPROCESO
		from SuministroOJDevoluciones a (nolock)
		where FECHAPROCESO <> convert(date, getdate())
		
		set @ErrorSave  = -3
	end
	else
	begin
		--Valida si los datos están correctos 
		if (select count(*) from Devoluciones where FECHA_DEVOLUCION  =  convert(date, getdate()) and TIPO_CARGA_DEVOLUCION = 1) > 0
		begin
			set @ErrorSave  = -3
			set @resultado = 'ERROR: Ya existen devoluciones registradas para la fecha: ' + convert(varchar, convert(date, getdate()))
		end
		else
		begin 
			print 'Fecha ok'
			if (select COUNT(*)
			from SuministroOJDevoluciones (nolock)
			where
			Charindex('.', valor) > 0
			and LEN (CAST(CAST(Reverse(CONVERT(VARCHAR(70), valor, 128)) AS FLOAT) AS BIGINT)) > 2) > 0
			begin
				print 'Tiene decimales'
				set @resultado = 'ERROR: Existen registros que tienen más de dos decimales en el campo valor, corrija el archivo y vuelva a cargarlo'
				set @ErrorSave  = -1
	
				select a.idSuministroOJDevoluciones as 'ID', ORDEN as 'ORDEN_RETENCION', a.NOMBRE, a.IDENTIFICACION, a.TIPO, a.CUENTA, a.FECHARETENCION, a.JUICIO, '' as 'Saldo_retencion', a.VALOR, a.JUZGADO, a.NoOFICIORETENCION, a.NoTRAMITE, a.USUARIORETENCION, a.NoTRAMITE2, a.NoOFICIO, 
				a.FECHAPROCESO, a.USUARIOPROCESO
				from SuministroOJDevoluciones a (nolock)
				where 
				Charindex('.', a.valor) > 0
				and LEN (CAST(CAST(Reverse(CONVERT(VARCHAR(70), a.valor, 128)) AS FLOAT) AS BIGINT)) > 2
		
			end
			else if(select count(*) from SuministroOJDevoluciones 
			where ORDEN in (select ORDEN_RETENCION from Embargos where ESTADO = 2)) > 0
			begin
				print 'Registros encontrados en embargos emitir'
				set @resultado = 'ERROR: Existen registros en embargos emitir, elimine los datos para continuar con el proceso'
				set @ErrorSave = -4

				select a.idSuministroOJDevoluciones as 'ID', ORDEN as 'ORDEN_RETENCION', a.NOMBRE, a.IDENTIFICACION, a.TIPO, a.CUENTA, a.FECHARETENCION, a.JUICIO, '' as 'Saldo_retencion', a.VALOR, a.JUZGADO, a.NoOFICIORETENCION, a.NoTRAMITE, a.USUARIORETENCION, a.NoTRAMITE2, a.NoOFICIO, 
				a.FECHAPROCESO, a.USUARIOPROCESO
				from SuministroOJDevoluciones a (nolock)
				where a.ORDEN in (select ORDEN_RETENCION from Embargos where ESTADO = 2)
			end
			else
			begin 
				print 'No Tiene decimales'
				--Genera los registros que no se actualizaron para revisión del usuario
				--Valida si es reproceso
				--if ( select count(*) from Devoluciones where FECHA_DEVOLUCION = convert(varchar(10), getdate(), 23) and TIPO_CARGA_DEVOLUCION = 1) > 0
				--begin
				--	--Valida si todas las retenciones del archivo estan en la tabla de retenciones, las que no coincidan se debe a que se crearon nuevas retenciones o son nuevos registros
				--	if ((select count(*) from Devoluciones where FECHA_DEVOLUCION = convert(varchar(10), getdate(), 23) and TIPO_CARGA_DEVOLUCION = 1) <> (select count(*) from SuministroOJDevoluciones))
				--	begin
				--		set @ErrorSave  = -1
				--		set @resultado = 'ERROR: Ya se cargó un archivo de devoluciones con diferente nùmero de registros.  Desea continuar?'
				--	end
				--	--Actualiza en la tabla de suministro la orden de retencion que ya se creo en el proceso original
				--	update SuministroOJDevoluciones
				--	set orden = b.orden_retencion
				--	from SuministroOJDevoluciones a (nolock), Retenciones b (nolock)
				--	where a.orden not in (select ORDEN_ANTERIOR from Retenciones)
				--	and b.FECHA_ACTUALIZACION = convert(varchar(10), getdate(), 23)
				--	and b.IDENTIFICACION = a.IDENTIFICACION
				--	and a.FECHARETENCION = b.FECHA_RETENCION
				--	and a.CUENTA = b.CUENTA
				--	and a.VALOR = b.VALOR
				--end

				--AGREGAR VALIDACIÓN DE ORDEN_RETENCION EN SUMINISTRO, NO EXISTE REPROCESO
				update SuministroOJDevoluciones
				set ORDEN_RETENCION = b.orden_retencion
				from SuministroOJDevoluciones a (nolock), Retenciones b (nolock)
				where a.orden not in (select ORDEN_ANTERIOR from Retenciones)
				--and b.FECHA_ACTUALIZACION = convert(varchar(10), getdate(), 23)
				and b.IDENTIFICACION = a.IDENTIFICACION
				and a.FECHARETENCION = b.FECHA_RETENCION
				and a.CUENTA = b.CUENTA
				and a.JUICIO = b.JUICIO
				and a.VALOR = b.VALOR

				--Valida que el numero de orden corresponda a la misma retencion
				--Valida la orden_retencion vs la tabla de Retenciones, si existen registrios que no los encuentra valida con el número de orden anterior
				update SuministroOJDevoluciones
				set estado = 1,
				orden_retencion = b.ORDEN_RETENCION
				from SuministroOJDevoluciones  a, Retenciones b
				where a.ORDEN = b.ORDEN_ANTERIOR
				and a.IDENTIFICACION = b.IDENTIFICACION
				and a.CUENTA = b.CUENTA
				and a.FECHARETENCION = b.FECHA_RETENCION
				and a.JUICIO = b.JUICIO
			
				if (select count(*) from devoluciones where FECHA_DEVOLUCION = CONVERT(varchar,GETDATE(),23) and TIPO_CARGA_DEVOLUCION = 1) > 0
				begin
					print 'Reproceso'
					select @fecha = CONVERT(varchar,GETDATE(),23)
					SET @ErrorSave = -3
					SET @resultado = 'ERROR: Ya existen devoluciones cargadas para la fecha: ' + CONVERT(varchar, @fecha, 23)
					--Actualiza el nuevo saldo
					--print 'actualiza nuevo saldo'
					/*update SuministroOJDevoluciones
					set nuevo_saldo = b.saldo + c.valor - a.VALOR,
					saldo_actual = b.saldo + c.valor 
					FROM SuministroOJDevoluciones a (nolock), Retenciones b (nolock), Devoluciones c (nolock)
					where a.estado = 1 --a.orden = 'VALIDAR'
					and a.ORDEN = b.ORDEN_ANTERIOR
					and a.IDENTIFICACION = b.IDENTIFICACION
					and b.ORDEN_RETENCION = c.ORDEN_RETENCION
					and c.FECHA_DEVOLUCION = CONVERT(varchar,GETDATE(),23)*/
				end
				else
				begin
					print 'Proceso'
					--Actualiza el nuevo saldo
					--print 'actualiza nuevo saldo'
					update SuministroOJDevoluciones
					set nuevo_saldo = b.saldo - a.VALOR,
					saldo_actual = b.saldo
					FROM SuministroOJDevoluciones a (nolock), Retenciones b (nolock)
					where a.estado = 1 --a.orden = 'VALIDAR'
					--and a.ORDEN = b.ORDEN_ANTERIOR
					and a.ORDEN_RETENCION =b.ORDEN_RETENCION
					and a.IDENTIFICACION = b.IDENTIFICACION
					and a.CUENTA = b.CUENTA
					and a.FECHARETENCION = b.FECHA_RETENCION
				end
			
				--Valida registros con nuevo saldo negativo
				update SuministroOJDevoluciones
				set estado = -2
				where NUEVO_SALDO < 0
	
				IF (@@ERROR <> 0)
					SET @ErrorSave = @@ERROR
	
				if @ErrorSave = 0
				begin 
					SET @resultado = 'ok'
					print 'entra a upadte validar'
					--Actualiza texto validar a los registros que no cruzaron
					if (select count(*) from SuministroOJDevoluciones where estado <> 1) > 0
					begin				
						SET @ErrorSave = -2
						SET @resultado = 'ERROR: Existen devoluciones que no cruzaron con las retenciones, se deben confirmar el número de orden en los siguientes registros.'
					end
				end
				else
					set @resultado = 'ERROR: No se pudo actualizar el código de orden desde las retenciones'
			end
		end
	end
end 
else 
	set @resultado = 'ERROR: No se pudo limpiar el código de orden'

EXEC BuscaDevolucionesPendientes @usuario, @resultado, @codigoErr

print 'error: ' + convert(varchar(10), @ErrorSave)
if @ErrorSave = 0
begin
	--Genera los registros que no se actualizaron para revisión del usuario
	print 'ejecuta sp BuscaDevolucionesPendientes'
	--EXEC BuscaDevolucionesPendientes @usuario, @resultado, @codigoErr

end

set @codigoErr = @ErrorSave
GO
/****** Object:  StoredProcedure [dbo].[cargarArchivosPorProceso]    Script Date: 25/08/2025 5:14:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[cargarArchivosPorProceso]
	--@idProceso int
AS

/*
Procedimiento almacenado que carga los archivos dependiendo del proceso seleccionado
*/

BEGIN
	
	SET NOCOUNT ON;
	SELECT        cargaArchivo.idCargaArchivo, cargaArchivo.fkIdProceso, cargaArchivo.nombreTabla, cargaArchivo.nombreArchivo, proceso.nombre
	FROM            proceso INNER JOIN
                         cargaArchivo ON proceso.idProceso = 1 --cargaArchivo.fkIdProceso
				where proceso.idProceso = 1 --@idProceso
				and cargaArchivo.isActive = 1
END
GO
/****** Object:  StoredProcedure [dbo].[ConsultaProcesoDia]    Script Date: 25/08/2025 5:14:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ConsultaProcesoDia] @usuario varchar(20), @resultado varchar(500) output, @codigoErr int output
AS
/*  
Consulta los valores del saldo, devoluciones, retenciones, embargos, transferencias registradas en el día
*/
SET @codigoErr = 0

declare @hoy as date
declare @ayer as date
declare @saldoret as decimal(18,2)
declare @saldoembemitir as decimal(18,2)
set @hoy = convert(date, getdate())
set @ayer = convert(date, getdate()-1)
set @saldoret = (select isnull(sum(saldo), 0) Monto from Retenciones)
set @saldoembemitir = (select isnull(sum(valor), 0) Monto from Embargos where ESTADO = 2)

set @resultado = 'Consulta exitosa'

select Descripcion, Monto, Registros
from (
    select 'Saldo Inicial:' Descripcion, saldo_inicial Monto, Registros, 1 as Orden 
    from saldos_diarios where FECHA = @hoy
    union
    select 'Retenciones Registradas:', isnull(sum(saldo), 0), count(*) Registros, 2 
    from Retenciones where FECHA_RETENCION = @hoy --@ayer
    union
    select 'Devoluciones Registradas:', isnull(sum(valor), 0), count(*) Registros, 3 
    from Devoluciones where FECHA_DEVOLUCION = @hoy
    union
    select 'Devoluciones Procesadas:', isnull(sum(valor), 0), count(*) Registros, 4 
    from Devoluciones where FECHA_DEVOLUCION = @ayer and estado = 1
    union
    select 'Devoluciones No Ejecutadas:', isnull(sum(valor), 0), count(*) Registros, 5 
    from Devoluciones where FECHA_DEVOLUCION = @ayer and estado = 0
    union
    select 'Embargos Por Emitir:', isnull(sum(valor), 0), count(*) Registros, 6 
    from Embargos where ESTADO = 2
    union
    select 'Cheques Emitidos:', isnull(sum(valor), 0), count(*) Registros, 7 
    from Embargos where FECHA_EMBARGO = @ayer and estado = 1
    union
    select 'Embargos No Ejecutadas:', isnull(sum(valor), 0), count(*) Registros, 8 
    from Embargos where FECHA_EMBARGO = @ayer and estado = 0
    union
    select 'Transferencias Registradas:', isnull(sum(valor), 0), count(*) Registros, 9 
    from Transferencias where FECHA_REGISTRO = @hoy
    union
    select 'Transferencias Procesadas:', isnull(sum(valor), 0), count(*) Registros, 10 
    from Transferencias where FECHA_REGISTRO = @ayer and estado = 1
    union
    select 'Transferencias No Ejecutadas:', isnull(sum(valor), 0), count(*) Registros, 11 
    from Transferencias where FECHA_REGISTRO = @ayer and estado = 0
    union
    select 'Saldo Portafolio:', @saldoret + @saldoembemitir, 
           (select count(*) from Retenciones where ESTADO = 1), 99
) as ResultadoFinal
order by Orden
GO
/****** Object:  StoredProcedure [dbo].[EliminarCuentaBancaria]    Script Date: 25/08/2025 5:14:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarCuentaBancaria]
    @IdCuenta INT,
    @Usuario VARCHAR(15),
    @codigoErr INT OUTPUT,
    @resultado NVARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- Validar si la cuenta existe y está activa
    IF NOT EXISTS (
        SELECT 1 FROM CuentaBancaria 
        WHERE IdCuenta = @IdCuenta AND EsActivo = 1
    )
    BEGIN
        SET @codigoErr = 1;
        SET @resultado = 'La cuenta no existe o ya está inactiva.';
        RETURN;
    END

    -- Actualizar el estado de la cuenta
    UPDATE CuentaBancaria
    SET 
        EsActivo = 0,
        Usuario_Actualizacion = @Usuario,
        Fecha_Actualizacion = GETDATE()
    WHERE IdCuenta = @IdCuenta;

    SET @codigoErr = 0;
    SET @resultado= 'La cuenta fue inactivada correctamente.';
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarFuncionario]    Script Date: 25/08/2025 5:14:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarFuncionario]@usuario varchar(20), @idJuzgado int, @idFuncionario int,
@resultado varchar(500) output, @codigoErr int output
AS

--Actualiza el estado del campo EsActivo para ocultarlo

BEGIN
    set @codigoErr = 0
	set @resultado = 'Funcionario desactivado exitosamente'

	UPDATE juzgado_secretario
	SET EsActivo = 0
	WHERE id_juzgado = @idJuzgado
	AND id_secretario = @idFuncionario;

	--Update Secretario
	--SET EsActivo = 0,
	--Usuario_Actualizacion = @usuario,
	--Fecha_Actualizacion = CONVERT(DATE, GETDATE())
	--where ID_Secretario = @idFuncionario
END
GO
/****** Object:  StoredProcedure [dbo].[InsertarDatosDevoluciones]    Script Date: 25/08/2025 5:14:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertarDatosDevoluciones]
    @ORDEN VARCHAR(200), @NOMBRE VARCHAR(200), @IDENTIFICACION VARCHAR(200), @TIPO VARCHAR(200), @CUENTA VARCHAR(200),
    @FECHARETENCION date, @JUICIO VARCHAR(200), @VALOR float, @JUZGADO VARCHAR(200),
    @NOOFICIORETENCION VARCHAR(200), @NOTRAMITE VARCHAR(200), @USUARIORETENCION VARCHAR(200),
    @NOTRAMITEDEVOLUCION VARCHAR(200), @NOOFICIODEVOLUCION VARCHAR(200), @FECHAPROCESO date,
    @USUARIOPROCESO VARCHAR(200)
AS
BEGIN
    -- Redondeamos el valor a 2 decimales antes de insertar
    DECLARE @valorRedondeado DECIMAL(18,2) = ROUND(@VALOR, 2)
    
    INSERT INTO SuministroOJDevoluciones(
        fechaSubidaArchivo,ORDEN, NOMBRE, IDENTIFICACION, TIPO, CUENTA,
        FECHARETENCION, JUICIO, VALOR, JUZGADO,
        NoOFICIORETENCION, NoTRAMITE, USUARIORETENCION,
        NoTRAMITE2, NoOFICIO, FECHAPROCESO, USUARIOPROCESO
        )
    VALUES (
        GETDATE(),
        @orden, @nombre, @IDENTIFICACION, @tipo, @cuenta,
        @fecharetencion, @juicio, @valorRedondeado, @juzgado,
        @nooficioretencion, @notramite, @usuarioretencion,
        @notramitedevolucion, @nooficiodevolucion, @fechaproceso,
        @usuarioproceso
        )
END
GO
/****** Object:  StoredProcedure [dbo].[InsertarDatosEmbargos]    Script Date: 25/08/2025 5:14:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertarDatosEmbargos]
    @ORDEN VARCHAR(200), @NOMBRE VARCHAR(200), @IDENTIFICACION VARCHAR(200), @TIPO VARCHAR(200), @CUENTA VARCHAR(200),
    @FECHARETENCION date, @JUICIO VARCHAR(200), @VALOR float, @JUZGADO VARCHAR(200),
    @NOOFICIORETENCION VARCHAR(200), @NOTRAMITE VARCHAR(200), @USUARIORETENCION VARCHAR(200),
    @NOTRAMITEEMBARGO VARCHAR(200), @NOOFICIOEMBARGO VARCHAR(200), @FECHAEMBARGO date,
    @USUARIOPROCESO VARCHAR(200), @OFICIAL VARCHAR(200)
AS
BEGIN
    -- Redondeamos el valor a 2 decimales antes de insertar
    DECLARE @valorRedondeado DECIMAL(18,2) = ROUND(@valor, 2)
    
    INSERT INTO SuministroOJEmbargos(
        fechaSubidaArchivo,ORDEN, NOMBRE, IDENTIFICACION, TIPO, CUENTA,
        FECHARETENCION, JUICIO, VALOR, JUZGADO,
        NoOFICIORETENCION, NoTRAMITE, USUARIORETENCION,
        NoTRAMITE2, NoOFICIO, FECHAPROCESO, USUARIOPROCESO, OFICIAL
        )
    VALUES (
        GETDATE(),
        @orden, @nombre, @identificacion, @tipo, @cuenta,
        @fecharetencion, @juicio, @valorRedondeado, @juzgado,
        @nooficioretencion, @notramite, @usuarioretencion,
        @notramiteembargo, @nooficioembargo, @fechaembargo,
        @usuarioproceso, @oficial
        )
END
GO
/****** Object:  StoredProcedure [dbo].[InsertarDatosRetenciones]    Script Date: 25/08/2025 5:14:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertarDatosRetenciones]
    @NOMBRE VARCHAR(200),
    @IDENTIFICACION VARCHAR(200),
    @TIPO VARCHAR(200),
    @CUENTA VARCHAR(200),
    @FECHARETENCION date,
    @JUICIO VARCHAR(200),
    @VALOR float,
    @JUZGADO VARCHAR(200),
    @NOOFICIORETENCION VARCHAR(200),
    @NOTRAMITE VARCHAR(200),
    @USUARIORETENCION VARCHAR(200)
AS
BEGIN
    -- Redondeamos el valor a 2 decimales antes de insertar
    DECLARE @valorRedondeado DECIMAL(18,2) = ROUND(@VALOR, 2)
    
    INSERT INTO SuministroOJRetenciones(
        fechaSubidaArchivo, NOMBRE,
        IDENTIFICACION,
        TIPO,
        CUENTA,
        FECHARETENCION,
        JUICIO,
        VALOR,
        JUZGADO,
        NoOFICIORETENCION,
        NoTRAMITE,
        USUARIORETENCION)
    VALUES (
        GETDATE(),
        @NOMBRE,
        @IDENTIFICACION,
        @TIPO,
        @CUENTA,
        @FECHARETENCION,
        @JUICIO,
        @valorRedondeado,  -- Usamos el valor redondeado
        @juzgado,
        @NOOFICIORETENCION,
        @NOTRAMITE,
        @USUARIORETENCION)
END
GO
/****** Object:  StoredProcedure [dbo].[InsertarDatosTransferencias]    Script Date: 25/08/2025 5:14:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[InsertarDatosTransferencias]
    @ORDEN VARCHAR(200), @NOMBRE VARCHAR(200), @IDENTIFICACION VARCHAR(200), @TIPO VARCHAR(200), @CUENTA VARCHAR(200),
    @FECHARETENCION date, @JUICIO VARCHAR(200), @VALOR float, @JUZGADO VARCHAR(200),
    @NOOFICIORETENCION VARCHAR(200), @NOTRAMITE VARCHAR(200), @USUARIORETENCION VARCHAR(200),
    @NOTRAMITETRANSFERENCIA VARCHAR(200), @NOOFICIOTRANSFERENCIA VARCHAR(200), @FECHATRANSFERENCIA date,
    @USUARIOPROCESO VARCHAR(200), @CUENTADESTINO VARCHAR(30),
    @BANCODESTINO VARCHAR(150),@OFICIAL VARCHAR(200), @OBSERVACION VARCHAR(200)
AS
BEGIN
    -- Redondeamos el valor a 2 decimales antes de insertar
    DECLARE @valorRedondeado DECIMAL(18,2) = ROUND(@valor, 2)
    
    INSERT INTO SuministroOJTransferencias(
        fechaSubidaArchivo,ORDEN, NOMBRE, IDENTIFICACION, TIPO, CUENTA,
        FECHARETENCION, JUICIO, VALOR, JUZGADO,
        NoOFICIORETENCION, NoTRAMITE, USUARIORETENCION,
        NoTRAMITE2, NoOFICIO, FECHAPROCESO, USUARIOPROCESO, CUENTADESTINO, BANCODESTINOTRANSFERENCIA, OFICIAL, OBSERVACION)
    VALUES (
        GETDATE(),
        @orden, @nombre, @identificacion, @tipo, @cuenta,
        @fecharetencion, @juicio, @valorRedondeado, @juzgado,
        @nooficioretencion, @notramite, @usuarioretencion,
        @notramitetransferencia, @nooficiotransferencia, @fechatransferencia,
        @usuarioproceso, @cuentadestino, @bancodestino, @oficial, @observacion)
END
GO
/****** Object:  StoredProcedure [dbo].[LeerJuzgadosSecretarios]    Script Date: 25/08/2025 5:14:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[LeerJuzgadosSecretarios]@resultado varchar(500) output
AS
/* Registra el nombre de los juzgados y el nombre del orden en el catalogo de cheques */

set @resultado = 'Consulta exitosa'

    SELECT 
        j.ID_Juzgado,
        s.ID_Secretario,
        j.nombre AS nombre_juzgado,
        j.alias,
        j.direccion,
        j.ciudad,
        s.nombre AS nombre_secretario,
        s.correo
    FROM 
        juzgado j
    INNER JOIN 
        juzgado_secretario js ON j.id_juzgado = js.id_juzgado
    INNER JOIN 
        secretario s ON js.id_secretario = s.id_secretario
    WHERE 
        j.EsActivo = 1
        and s.EsActivo =1
        and js.EsActivo = 1
GO
/****** Object:  StoredProcedure [dbo].[limpiarSumDevolucion]    Script Date: 25/08/2025 5:14:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[limpiarSumDevolucion]
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        TRUNCATE TABLE SuministroOJDevoluciones;
        PRINT 'Tabla temporal limpiada correctamente.';
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMsg NVARCHAR(4000) = 'Error al limpiar tabla temporal: ' + ERROR_MESSAGE();
        RAISERROR(@ErrorMsg, 16, 1);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[limpiarSumEmbargo]    Script Date: 25/08/2025 5:14:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[limpiarSumEmbargo]
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        TRUNCATE TABLE SuministroOJEmbargos;
        PRINT 'Tabla temporal limpiada correctamente.';
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMsg NVARCHAR(4000) = 'Error al limpiar tabla temporal: ' + ERROR_MESSAGE();
        RAISERROR(@ErrorMsg, 16, 1);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[limpiarSumRetencion]    Script Date: 25/08/2025 5:14:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[limpiarSumRetencion]
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        TRUNCATE TABLE SuministroOJRetenciones;
        PRINT 'Tabla temporal limpiada correctamente.';
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMsg NVARCHAR(4000) = 'Error al limpiar tabla temporal: ' + ERROR_MESSAGE();
        RAISERROR(@ErrorMsg, 16, 1);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[limpiarSumTransferencia]    Script Date: 25/08/2025 5:14:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[limpiarSumTransferencia]
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        TRUNCATE TABLE SuministroOJTransferencias;
        PRINT 'Tabla temporal limpiada correctamente.';
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMsg NVARCHAR(4000) = 'Error al limpiar tabla temporal: ' + ERROR_MESSAGE();
        RAISERROR(@ErrorMsg, 16, 1);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[ListarAcreedoresActivos]    Script Date: 25/08/2025 5:14:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ListarAcreedoresActivos]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        IdAcreedor,
        NombreAcreedor--,
        --RUC_Cedula,
        --TipoIdentificacion
    FROM Acreedor
    WHERE EsActivo = 1
    ORDER BY NombreAcreedor;
END;
GO
/****** Object:  StoredProcedure [dbo].[ListarEntidadesBancariasActivas]    Script Date: 25/08/2025 5:14:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ListarEntidadesBancariasActivas]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        IdEntidadBancaria,
        NombreEntidad
    FROM EntidadBancaria
    WHERE EsActivo = 1
    ORDER BY NombreEntidad;
END;
GO
/****** Object:  StoredProcedure [dbo].[ObtenerCuentasActivas]    Script Date: 25/08/2025 5:14:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerCuentasActivas] @resultado varchar(500) output
AS
--Obtener numeros de cuentas activas para transferencias
BEGIN
    SET NOCOUNT ON;
    set @resultado = 'Consulta exitosa'
    SELECT
        c.IdCuenta,
        a.IdAcreedor,
        c.NumeroCuenta,
        c.TipoCuenta,
        a.NombreAcreedor,
        a.RUC_Cedula,
        e.IdEntidadBancaria,
        e.NombreEntidad
    FROM CuentaBancaria c
    INNER JOIN Acreedor a ON c.IdAcreedor = a.IdAcreedor
    INNER JOIN EntidadBancaria e ON c.IdEntidadBancaria = e.IdEntidadBancaria
    WHERE c.EsActivo = 1
      AND a.EsActivo = 1
      AND e.EsActivo = 1
    ORDER BY c.IdCuenta;
END


GO
/****** Object:  StoredProcedure [dbo].[RegistraDevolucion]    Script Date: 25/08/2025 5:14:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RegistraDevolucion] @usuario varchar(20), @resultado varchar(500) output, @codigoErr int output
AS
/*  
Estado de tipo de carga 1 -> Masiva
						2 -> Individual
*/

DECLARE @ErrorSave INT
SET @ErrorSave = 0

set @resultado = 'Registro de Devoluciones exitosamente'

IF (@@ERROR <> 0)
   SET @ErrorSave = @@ERROR

if @ErrorSave = 0
begin
	
	--Insertar Devolucion
	INSERT INTO Devoluciones (ORDEN_DEVOLUCION, TRAMITE_DEVOLUCION, OFICIO_DEVOLUCION, 
	VALOR, FECHA_DEVOLUCION, USUARIO_DEVOLUCION, 
	ORDEN_RETENCION, USUARIO_ACTUALIZACION, 
	FECHA_ACTUALIZACION, ESTADO, MONEDA, CUENTA, OBSERVACION, TIPO_CARGA_DEVOLUCION)
	SELECT ORDEN_DEVOLUCION, NoTRAMITE2, NoOFICIO, VALOR, FECHAPROCESO, USUARIOPROCESO,
	ORDEN_RETENCION, USUARIOPROCESO,
	convert(varchar, getdate(), 23), ESTADO, 'USD', CUENTA, OBSERVACION,1
	FROM SuministroOJDevoluciones
	
	IF (@@ERROR <> 0)
		SET @ErrorSave = @@ERROR

		IF @ErrorSave = 0
		BEGIN
			--Actualiza el saldo y estado en las retenciones
			print 'Actualiza el saldo en las retenciones'
			update Retenciones
			set saldo = b.NUEVO_SALDO
			from Retenciones a (nolock), SuministroOJDevoluciones b (nolock)
			where a.ORDEN_RETENCION = B.ORDEN_RETENCION
			and a.IDENTIFICACION = B.IDENTIFICACION
			and A.CUENTA = B.CUENTA
			and a.JUICIO = b.JUICIO				
						

			update Retenciones
			set ESTADO = 0
			from Retenciones a (nolock), SuministroOJDevoluciones b (nolock)
			where a.ORDEN_RETENCION = b.ORDEN_RETENCION
			and a.IDENTIFICACION = b.IDENTIFICACION
			and a.CUENTA = b.CUENTA
			and a.JUICIO = b.JUICIO
			and a.SALDO = 0			
		END
	
end
set @codigoErr = @ErrorSave
GO
