@model OrdenanzasJudiciales.Dominio.Entidades.FuncionarioCrearDto
@{
    var listaJuzgados = ViewData["ListaJuzgados"] as List<SelectListItem>;
}

<form id="formAgregarFuncionario" method="post" asp-controller="Juzgados" asp-action="AgregarFuncionario">
    <div class="modal-header">
        <h5 class="modal-title">Nuevo Secretario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
    </div>
    <div class="modal-body row">
        <div class="col-md-6">
            <label for="JuzgadoId">Seleccione Juzgado:</label>
            <select class="form-select" asp-for="JuzgadoId" asp-items="listaJuzgados">
                <option value="">-- Seleccione --</option>
            </select>
            <span asp-validation-for="JuzgadoId" class="text-danger small"></span>
        </div>
        <div class="col-md-6">
            <label>Funcionario</label>
            <input class="form-control" asp-for="funcionarioNombre" />
            <span asp-validation-for="funcionarioNombre" class="text-danger small"></span>
        </div>
        <div class="col-md-6">
            <label>Email</label>
            <input class="form-control" asp-for="emailFuncionario" />
            <span asp-validation-for="emailFuncionario" class="text-danger small"></span>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success">Guardar</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
    </div>
</form>
