@model OrdenanzasJudiciales.Dominio.Entidades.CuentasEntidadCrearDto
<form id="formAgregarAcreedor" method="post" asp-controller="CuentasBancarias" asp-action="AgregarEntidad">
    <div class="modal-header">
        <h5 class="modal-title">Entidad Bancaria</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
    </div>
    <div class="modal-body row">
        <div class="col-md-6">
            <label>Nombre Entidad Bancaria</label>
            <input class="form-control" asp-for="nombreEntidad" />
            <span asp-validation-for="nombreEntidad" class="text-danger small"></span>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success">Guardar</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
    </div>
</form>
